# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.EServi.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\William\Documents\Proyectos\EServi\.idea\.idea.EServi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
